* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navContainer {
  width: 90%;
  margin: 0 auto;
  background: orange;
  padding: 15px;
  margin-bottom: 20px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row ul li {
  display: flex;
  margin-top: 10px;
}
.body {
  margin-left: 25px;
}
