.navContainer {
  width: 90%;
  margin: 0 auto;
  background-color: orange;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.nav {
  width: 85%;
}

.comment {
  text-align: center;
}
.cardLink {
  color: black;
  font-size: 32px;
}
.cardLink:hover {
  color: #000000;
  font-size: 48px;
}
.title {
  font-weight: bolder;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
